/* Fill Credit Details styles */

#credit-details-form-wrapper{
    margin-top:3.5rem;
    /* position: relative; */
    width: 100%;
    border-radius: 6px;
    padding: 30px;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,0.10);
}

#credit-details-form-wrapper h2{
    position: relative;
    font-weight: 600;
    color: #333;
}

#credit-details-form-wrapper h2::before{
    content:"";
    position: absolute;
    left:0;
    bottom:-2px;
    height: 3px;
    width: 27px;
    border-radius: 8px;
    background-color: var(--main-color);
}

#credit-details-form-wrapper form{
    position: relative;
    margin-top: 16px;
    min-height: 490px;
    background-color: #fff;
}

#credit-details-form-wrapper form .details{
    margin-top: 30px;
}

#credit-details-form-wrapper form .title{
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 500;
    margin: 6px 0;
    color: #333;
}

#credit-details-form-wrapper form .fields{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

form .fields .input-field{
    display: flex;
    width: calc(100% / 3 - 15px);
    flex-direction: column;
    margin: 3px 0;
}

form .fields .input-field select{
    height: 35px;
}

form .fields .input-field input{
    height: 35px;
}

.input-field label{
    font-weight: 500;
    color: #2e2e2e;
}

.input-field select,input{
    outline:none;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    border-radius: 5px;
    border: 1px solid #aaa;
    padding: 0 15px;
    height: 42px;
    margin: 8px 0;
}

#credit-details-form-wrapper form button{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    max-width: 200px;
    width: 100%;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 5px;
    margin-top: 10px ;
    background-color: var(--main-color);
    transition: all 0.3s linear;
    cursor: pointer;
}

#credit-details-form-wrapper form button:hover{
    background-color: var(--color-dark);
}

@media (max-width:750px){
    #credit-details-form-wrapper form{
        overflow-y: scroll;
    }
    #credit-details-form-wrapper form::-webkit-scrollbar{
        display: none;
    }
    form .fields .input-field{
        width: calc(100% / 2 - 15px);
    }
}

@media (max-width:550px){
    form .fields .input-field{
        width: 100%;
    }
}

.final__tooltip {
    position: relative;
    text-align: center;
   }
   .final__tooltip:before {
     position: absolute;
     z-index: 2;
     display: none;
     width: 200px;
     max-width: 200px;
     padding: 10px;
     font-size: 0.8em;
     line-height: 1.4;
     border-radius: 5px;
     background-color: rgba(0, 0, 0, 0.8);
     color: white;
     content: attr(title);
   }
   .final__tooltip:after {
     position: absolute;
     z-index: 1;
     display: none;
     width: 0;
     height: 0;
     border: 5px solid transparent;
     content: "";
   }
   .final__tooltip:hover:before,
   .final__tooltip:hover:after {
     display: inline-block;
   }

   .final__tooltip.right:before {
     top: 50%;
     left: calc(100% + 5px);
     transform: translateY(-50%);
   }
   .final__tooltip.right:after {
     top: 50%;
     left: 100%;
     transform: translateY(-50%);
     border-left-width: 0;
     border-right-color: rgba(0, 0, 0, 0.8);
   }
