@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');

:root {
    --black: #131313;
    --green: #7bde18;
}

*{
    font-family: 'Poppins',sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
}

#navbar{
    padding: 5px 60px 5px 60px;
    background-color: var(--black);
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
}

#navbar h2{
    color: var(--green);
}

#navbar a{
    text-decoration: none;
    color: white;
    margin: 10px 20px

}

#navbar a:hover{
    border-bottom: 2px solid var(--green);
}

#message .successful{
    background-color: #D4EDDA;
    border: 1px solid #C3E6CB;
    max-width: 500px;
    position: fixed;
    align-items: center;
    z-index: 999;
    bottom: -5px;
    right: 10px;
    padding: 15px 20px;
    border-radius: 5px;
}

#message .danger{
    background-color: #F8D7DA;
    border: 1px solid #F5C6CB;
    max-width: 500px;
    position: fixed;
    align-items: center;
    z-index: 999;
    bottom: -5px;
    right: 10px;
    padding: 15px 20px;
    border-radius: 5px;
}

#message .info{
    background-color: #CCE5FF;
    border: 1px solid #B6D8FD;
    max-width: 500px;
    position: fixed;
    align-items: center;
    z-index: 999;
    bottom: -5px;
    right: 10px;
    padding: 15px 20px;
    border-radius: 5px;
}

.validation-error-msg{
    font-size: 12px;
    color: red;
}


