@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');

:root{
    --main-color:#7bde18;
    --color-dark:#2c2c2c;
    --text-grey:#8390A2;
}

/* html { zoom: 80%; } */


*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    list-style-type:none;
    text-decoration: none;
    font-family: 'Poppins',sans-serif;
}

.sidebar{
    width:345px;
    position: fixed;
    left:0;
    top:0;
    height:100%;
    background: var(--color-dark);
    z-index:100;
    transition:width 300ms;
}

.sidebar-brand{
    height:90px;
    padding:1rem 0rem 1rem 2rem;
    color:#fff;
}

.sidebar-brand span{
    display:inline-block;
    padding-right: 1rem;
}

.sidebar-menu{
    margin-top:1rem;
}

.sidebar-menu li{
    width:100%;
    margin-bottom:1.7rem;
    padding-left: 1rem;
}

.sidebar-menu a {
    padding-left:1rem;
    display:block;
    color:#fff;
    font-size:1.1rem;
}

.sidebar-menu a.active{
    background:#fff;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color:var(--color-dark);
    border-radius:30px 0px 0px 30px;
}

.sidebar-menu a span:first-child {
    font-size:1.5rem;
    padding-right: 1rem;
}

#nav-toggle:checked + .sidebar {
    width:70px;
}

#nav-toggle:checked + .sidebar .sidebar-brand,
#nav-toggle:checked + .sidebar li {
    padding-left:1rem;
    text-align: center;
}

#nav-toggle:checked + .sidebar li a {
    padding-left: 0rem;
}

#nav-toggle:checked + .sidebar .sidebar-brand h1 span:last-child,
#nav-toggle:checked + .sidebar li a span:last-child{
    display:none;
}

#nav-toggle:checked ~ .main-content {
    margin-left: 70px;
}

#nav-toggle:checked ~ .main-content header{
    width: calc(100% - 70px);
    left:70px;
}

.main-content{
    transition:margin-left 300ms;
    margin-left: 345px;
}

header{
    background:#fff;
    display:flex;
    justify-content:space-between;
    padding:1rem 1.5rem;
    box-shadow:2px 2px 5px rgba(0,0,0,0.2);
    position:fixed;
    left:345px;
    width:calc(100% - 345px);
    top:0;
    z-index: 100;
    transition: left 300ms;
}

#nav-toggle {
    display:none;
}

header label span{
    font-size:1.7rem;
    padding-right:1rem;
}


.user-wrapper{
    display:flex;
    align-items:center;
}

.user-wrapper small{
    display:inline-block;
    color:var(--text-grey);
}

main{
    margin-top:35px;
    padding:2rem 1.5rem;
    /* background:#f1f5f9; */
    background:#f1f5f9;
    min-height: 119vh;
    /* min-height:calc(100% - 90px); */
}


#user{
    font-size:2rem;
    margin-right:20px ;
    border: var(--main-color) 1px solid;
    border-radius: 50px;
    color:var(--main-color);
}

button{   
    background:var(--main-color);
    border-radius:5px;
    color:#fff;
    font-size:.8rem;
    padding: .5rem 1rem;
    border:1px solid var(--main-color);
}


/* Messages */

#message .successful{
    background-color: #D4EDDA;
    border: 1px solid #C3E6CB;
    max-width: 500px;
    position: fixed;
    align-items: center;
    z-index: 999;
    bottom: 15px;
    right: 10px;
    padding: 27px 20px;
    border-radius: 5px;
}

#message .danger{
    background-color: #F8D7DA;
    border: 1px solid #F5C6CB;
    max-width: 500px;
    position: fixed;
    align-items: center;
    z-index: 999;
    bottom: 15px;
    right: 10px;
    padding: 27px 20px;
    border-radius: 5px;
}

#message .info{
    background-color: #CCE5FF;
    border: 1px solid #B6D8FD;
    max-width: 500px;
    position: fixed;
    align-items: center;
    z-index: 999;
    bottom: 15px;
    right: 10px;
    padding: 27px 20px;
    border-radius: 5px;
}

/* For all */

a:link{
    text-decoration: none;
}

select{
    outline: none;
}

@media only screen and (max-width: 1200px){
    .sidebar {
        width:70px;
    }
    
    .sidebar .sidebar-brand,
    .sidebar li {
        padding-left:1rem;
        text-align: center;
    }
    
    .sidebar li a {
        padding-left: 0rem;
    }
    
    .sidebar .sidebar-brand h1 span:last-child,
    .sidebar li a span:last-child{
        display:none;
    }   
    
    .main-content {
        margin-left: 70px;
    }
    
    .main-content header{
        width: calc(100% - 70px);
        left:70px;
    }     

    .sidebar:hover {
        width:345px;
        z-index:200;
    }
    
    .sidebar:hover .sidebar-brand,
    .sidebar:hover li {
        padding-left:2rem;
        text-align: left;
    }
    
    .sidebar:hover li a {
        padding-left: 1rem;
    }
    
    .sidebar:hover .sidebar-brand h1 span:last-child,
    .sidebar:hover li a span:last-child{
        display:inline;
    }   
}

@media only screen and (max-width:999px){
    .recent-grid{
        grid-template-columns:100%;
    }
}

@media only screen and (max-width:768px){    

    .sidebar{
        left: -100% !important;
    }    

    .main-content{
        width:100%;
        margin-left: 0rem;
    }

    header{
        width:100% !important;
        left:0 !important;
    }

    #nav-toggle:checked + .sidebar {
        left:0 !important;
        z-index: 100;
        width: 345px;
    }

    #nav-toggle:checked + .sidebar .sidebar-brand,
    #nav-toggle:checked + .sidebar li {
        padding-left:1rem;
        text-align: left;
    }
    
    #nav-toggle:checked + .sidebar li a {
        padding-left: 1rem;
    }
    
    #nav-toggle:checked + .sidebar .sidebar-brand h1 span:last-child,
    #nav-toggle:checked + .sidebar li a span:last-child{
        display:inline;
    }

    #nav-toggle:checked ~ .main-content{
        margin-left: 0rem !important;
    }   
}