@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');

:root{
    --main-color:#7bde18;
    --color-dark:#2c2c2c;
    --text-grey:#8390A2;
}

/* html { zoom: 80%; } */


*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    list-style-type:none;
    text-decoration: none;
    font-family: 'Poppins',sans-serif;
}

.sidebar{
    width:345px;
    position: fixed;
    left:0;
    top:0;
    height:100%;
    background: var(--color-dark);
    z-index:100;
    transition:width 300ms;
}

.sidebar-brand{
    height:90px;
    padding:1rem 0rem 1rem 2rem;
    color:#fff;
}

.sidebar-brand span{
    display:inline-block;
    padding-right: 1rem;
}

.sidebar-menu{
    margin-top:1rem;
}

.sidebar-menu li{
    width:100%;
    margin-bottom:1.7rem;
    padding-left: 1rem;
}

.sidebar-menu a {
    padding-left:1rem;
    display:block;
    color:#fff;
    font-size:1.1rem;
}

.sidebar-menu a.active{
    background:#fff;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color:var(--color-dark);
    border-radius:30px 0px 0px 30px;
}

.sidebar-menu a span:first-child {
    font-size:1.5rem;
    padding-right: 1rem;
}

#nav-toggle:checked + .sidebar {
    width:70px;
}

#nav-toggle:checked + .sidebar .sidebar-brand,
#nav-toggle:checked + .sidebar li {
    padding-left:1rem;
    text-align: center;
}

#nav-toggle:checked + .sidebar li a {
    padding-left: 0rem;
}

#nav-toggle:checked + .sidebar .sidebar-brand h1 span:last-child,
#nav-toggle:checked + .sidebar li a span:last-child{
    display:none;
}

#nav-toggle:checked ~ .main-content {
    margin-left: 70px;
}

#nav-toggle:checked ~ .main-content header{
    width: calc(100% - 70px);
    left:70px;
}

.main-content{
    transition:margin-left 300ms;
    margin-left: 345px;
}

header{
    background:#fff;
    display:flex;
    justify-content:space-between;
    padding:1rem 1.5rem;
    box-shadow:2px 2px 5px rgba(0,0,0,0.2);
    position:fixed;
    left:345px;
    width:calc(100% - 345px);
    top:0;
    z-index: 100;
    transition: left 300ms;
}

#nav-toggle {
    display:none;
}

header label span{
    font-size:1.7rem;
    padding-right:1rem;
}


.user-wrapper{
    display:flex;
    align-items:center;
}

.user-wrapper small{
    display:inline-block;
    color:var(--text-grey);
}

main{
    margin-top:20px;
    padding:2rem 1.5rem;
    /* background:#f1f5f9; */
    background:#f1f5f9;
    min-height: 119vh;
    /* min-height:calc(100% - 90px); */
}


#user{
    font-size:2rem;
    margin-right:20px ;
    border: var(--main-color) 1px solid;
    border-radius: 50px;
    color:var(--main-color);
}

button{   
    background:var(--main-color);
    border-radius:5px;
    color:#fff;
    font-size:.8rem;
    padding: .5rem 1rem;
    border:1px solid var(--main-color);
}


/* Messages */

#message .successful{
    background-color: #D4EDDA;
    border: 1px solid #C3E6CB;
    max-width: 500px;
    position: fixed;
    align-items: center;
    z-index: 999;
    bottom: 15px;
    right: 10px;
    padding: 27px 20px;
    border-radius: 5px;
}

#message .danger{
    background-color: #F8D7DA;
    border: 1px solid #F5C6CB;
    max-width: 500px;
    position: fixed;
    align-items: center;
    z-index: 999;
    bottom: 15px;
    right: 10px;
    padding: 27px 20px;
    border-radius: 5px;
}

#message .info{
    background-color: #CCE5FF;
    border: 1px solid #B6D8FD;
    max-width: 500px;
    position: fixed;
    align-items: center;
    z-index: 999;
    bottom: 15px;
    right: 10px;
    padding: 27px 20px;
    border-radius: 5px;
}

/* For all */

a:link{
    text-decoration: none;
}

select{
    outline: none;
}

@media only screen and (max-width: 1200px){
    .sidebar {
        width:70px;
    }
    
    .sidebar .sidebar-brand,
    .sidebar li {
        padding-left:1rem;
        text-align: center;
    }
    
    .sidebar li a {
        padding-left: 0rem;
    }
    
    .sidebar .sidebar-brand h1 span:last-child,
    .sidebar li a span:last-child{
        display:none;
    }   
    
    .main-content {
        margin-left: 70px;
    }
    
    .main-content header{
        width: calc(100% - 70px);
        left:70px;
    }     

    .sidebar:hover {
        width:345px;
        z-index:200;
    }
    
    .sidebar:hover .sidebar-brand,
    .sidebar:hover li {
        padding-left:2rem;
        text-align: left;
    }
    
    .sidebar:hover li a {
        padding-left: 1rem;
    }
    
    .sidebar:hover .sidebar-brand h1 span:last-child,
    .sidebar:hover li a span:last-child{
        display:inline;
    }   
}

@media only screen and (max-width:768px){    

    .sidebar{
        left: -100% !important;
    }    

    .main-content{
        width:100%;
        margin-left: 0rem;
    }

    header{
        width:100% !important;
        left:0 !important;
    }

    #nav-toggle:checked + .sidebar {
        left:0 !important;
        z-index: 100;
        width: 345px;
    }

    #nav-toggle:checked + .sidebar .sidebar-brand,
    #nav-toggle:checked + .sidebar li {
        padding-left:1rem;
        text-align: left;
    }
    
    #nav-toggle:checked + .sidebar li a {
        padding-left: 1rem;
    }
    
    #nav-toggle:checked + .sidebar .sidebar-brand h1 span:last-child,
    #nav-toggle:checked + .sidebar li a span:last-child{
        display:inline;
    }

    #nav-toggle:checked ~ .main-content{
        margin-left: 0rem !important;
    }   
}

/* For child template stylesheets */

.recent-grid{
    margin-top:3.5rem;
    display:grid;
    grid-gap:2rem;
    grid-template-columns: 50% auto;
}

@media only screen and (max-width:999px){
    .recent-grid{
        grid-template-columns:100%;
    }
}






/* Bank Dashboard Home */

#all-csv-charts{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

#lgd-stage1-charts{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

.recent-grid-bank-home{
    margin-top:3.5rem;
    display:grid;
    grid-template-columns: 100%;
}

/* #csv-input-form{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    margin-bottom: 20px;
} */

/* #output-bank div{
    text-align: center;
    font-size: 50px;
    font-weight: 900;
} */

/* #csv-input-form input[type="file"]{
    display: none;
} */

/* #csv-input-form label{
    display: inline-block;
    color: white;
    background-color: #2c2c2c;
    text-align: center;
    padding: 15px 40px;
    user-select: none;
    cursor: pointer;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 20px;
} */

#csv-input-form label i{
    margin-right: 10px;
}

#csv-input-form label:active{
    transform: scale(0.9);
}

/* #csv-input-form button{
    text-align: center;
    padding: 15px 40px;
    user-select: none;
    cursor: pointer;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

} */

#csv-input-form button:hover{
    color: white;
    background-color: #2c2c2c;
}


.card-single {
    display:flex;
    justify-content:space-between;
    background:#fff;
    padding:2rem;
    border-radius:2px;
}

.card-single div:last-child span{
    font-size:3rem;
    color:var(--main-color);
}

.card-single span:first-child span{
    color:var(--text-grey);
}

.card-single:last-child{
    background:var(--main-color);
}

.card-single:last-child h1,
.card-single:last-child div:first-child span,
.card-single:last-child div:last-child span{
    color:#fff;
}

#output-bank-cards {
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    grid-gap:2rem;
    margin-top:1rem;
    margin-bottom: 20px;
}


/* Bankers Table */

/* #all-classifier-tables, #all-regressor-tables{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    text-align: center;
} */

.green-table caption{
    background-color: rgb(255, 255, 255);
    border-radius: 20px 20px 0px 0px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 10px 5px;
}

.green-table{
    border-collapse: collapse;
    margin: 25px 0;
    font-size:0.9em;
    width: 49%;
    background-color: white;
    border-radius: 0px 0px 20px 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

}

.green-table thead tr{
    background-color: var(--main-color);
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.green-table th, .green-table td{
    padding: 12px 15px;

}

.green-table tbody tr{
    border-bottom: 1px solid #dddddd;
}

.green-table tbody tr:nth-of-type(even){
    background-color: #f3f3f3;
}

.green-table tbody tr:last-of-type{
    border-bottom: 2px solid var(--main-color);
}


#all-csv-charts .chart, #all-charts .chart{
    margin-top: 15px;
    margin-bottom: 15px;
}


/* Loader */
.center{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    min-height:75vh;
}

.ring{
    position: absolute;
    width:200px;
    height:200px;
    border-radius: 50%;
    animation: ring 2s linear infinite;
}

@keyframes ring{
    0%{
        transform: rotate(0deg);
        box-shadow:1px 5px 2px #e65c00;
    }
    50%{
        transform: rotate(180deg);
        box-shadow:1px 5px 2px #18b201;
    }
    100%{
        transform: rotate(360deg);
        box-shadow:1px 5px 2px #0456c8;
    }
}


.ring:before{
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    box-shadow: 0 0 5px rgb(48, 48, 48);
}

#loading-div span{
    color: #737373;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 200px;
    animation: text 3s ease-in-out infinite;
}

@keyframes text{
    50%{
        color: black;
    }
}

.hide{
    display: none;
}



/* Tabs */
.bank-tabs-container{
    width: 100%;
    background-color: white;
    padding: 30px;
    box-shadow: 0 2px 16px rgba(0,0,0,.1);
    border-radius: 20px;
}

.tab_box{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid rgba(229,229,229);
    position: relative;
}

.tab_box .tab_btn{
    font-size: 18px;
    font-weight: 600;
    color: #919191;
    background: none;
    border: none;
    padding: 18px;
    cursor: pointer;
    
}

.tab_box .tab_btn.active{
    color: #7360ff;
    border-bottom: 5px solid #7360ff;
}

.content_box{
    padding: 20px;
}

.content_box .content{
    display: none;
    animation: moving .5s ease;
}

@keyframes moving{
    from{transform: translateX(50px);opacity: 0;}
    to{transform: translateX(0px);opacity: 1;}
}

.content_box .content.active{
    display: block;
}

.content_box .content h2{
    margin-bottom: 10px;
}

#not-filled-msg{
    background-color: #CCE5FF;
    border: 1px solid #B6D8FD;
    width: 100%;
    align-items: center;
    padding: 15px 20px;
    border-radius: 5px;
}

.chart-header-select{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin-left: 20px;
    margin-right: 20px;
}

.chart-header-select select{
    outline:none;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    border-radius: 5px;
    border: 1px solid #aaa;
    padding: 0 15px;
    height: 42px;
    margin: 8px 0;
}

.recent-grid-bank-home .content h1{
    text-align: center;
    margin-bottom: 50px;
}

.recent-grid-bank-home .content h2{
    /* text-align: center; */
    margin-bottom: 50px;
    
}

.chart-table{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.param-explanation{
    /* text-align: center; */
    margin: 12px 20px 0px 20px;
}