@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');

:root{
    --main-color:#7bde18;
    --color-dark:#2c2c2c;
    --text-grey:#8390A2;
}

html { zoom: 80%; }


*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    list-style-type:none;
    text-decoration: none;
    font-family: 'Poppins',sans-serif;
}

.sidebar{
    width:345px;
    position: fixed;
    left:0;
    top:0;
    height:100%;
    background: var(--color-dark);
    z-index:100;
    transition:width 300ms;
}

.sidebar-brand{
    height:90px;
    padding:1rem 0rem 1rem 2rem;
    color:#fff;
}

.sidebar-brand span{
    display:inline-block;
    padding-right: 1rem;
}

.sidebar-menu{
    margin-top:1rem;
}

.sidebar-menu li{
    width:100%;
    margin-bottom:1.7rem;
    padding-left: 1rem;
}

.sidebar-menu a {
    padding-left:1rem;
    display:block;
    color:#fff;
    font-size:1.1rem;
}

.sidebar-menu a.active{
    background:#fff;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color:var(--color-dark);
    border-radius:30px 0px 0px 30px;
}

.sidebar-menu a span:first-child {
    font-size:1.5rem;
    padding-right: 1rem;
}

#nav-toggle:checked + .sidebar {
    width:70px;
}

#nav-toggle:checked + .sidebar .sidebar-brand,
#nav-toggle:checked + .sidebar li {
    padding-left:1rem;
    text-align: center;
}

#nav-toggle:checked + .sidebar li a {
    padding-left: 0rem;
}

#nav-toggle:checked + .sidebar .sidebar-brand h1 span:last-child,
#nav-toggle:checked + .sidebar li a span:last-child{
    display:none;
}

#nav-toggle:checked ~ .main-content {
    margin-left: 70px;
}

#nav-toggle:checked ~ .main-content header{
    width: calc(100% - 70px);
    left:70px;
}

.main-content{
    transition:margin-left 300ms;
    margin-left: 345px;
}

header{
    background:#fff;
    display:flex;
    justify-content:space-between;
    padding:1rem 1.5rem;
    box-shadow:2px 2px 5px rgba(0,0,0,0.2);
    position:fixed;
    left:345px;
    width:calc(100% - 345px);
    top:0;
    z-index: 100;
    transition: left 300ms;
}

#nav-toggle {
    display:none;
}

header label span{
    font-size:1.7rem;
    padding-right:1rem;
}


.user-wrapper{
    display:flex;
    align-items:center;
}

.user-wrapper small{
    display:inline-block;
    color:var(--text-grey);
}

main{
    margin-top:35px;
    padding:2rem 1.5rem;
    /* background:#f1f5f9; */
    background:#f1f5f9;
    min-height: 119vh;
    /* min-height:calc(100% - 90px); */
}


/* Fill Credit Details styles */

#credit-details-form-wrapper{
    margin-top:3.5rem;
    /* position: relative; */
    width: 100%;
    border-radius: 6px;
    padding: 30px;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,0.10);
}

#credit-details-form-wrapper h2{
    position: relative;
    font-weight: 600;
    color: #333;
}

#credit-details-form-wrapper h2::before{
    content:"";
    position: absolute;
    left:0;
    bottom:-2px;
    height: 3px;
    width: 27px;
    border-radius: 8px;
    background-color: var(--main-color);
}

#credit-details-form-wrapper form{
    position: relative;
    margin-top: 16px;
    min-height: 490px;
    background-color: #fff;
}

#credit-details-form-wrapper form .details{
    margin-top: 30px;
}

#credit-details-form-wrapper form .title{
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 500;
    margin: 6px 0;
    color: #333;
}

#credit-details-form-wrapper form .fields{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

form .fields .input-field{
    display: flex;
    width: calc(100% / 3 - 15px);
    flex-direction: column;
    margin: 3px 0;
}

form .fields .input-field select{
    height: 35px;
}

form .fields .input-field input{
    height: 35px;
}

.input-field label{
    font-weight: 500;
    color: #2e2e2e;
}

.input-field select,input{
    outline:none;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    border-radius: 5px;
    border: 1px solid #aaa;
    padding: 0 15px;
    height: 42px;
    margin: 8px 0;
}

#credit-details-form-wrapper form button{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    max-width: 200px;
    width: 100%;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 5px;
    margin-top: 10px ;
    background-color: var(--main-color);
    transition: all 0.3s linear;
    cursor: pointer;
}

#credit-details-form-wrapper form button:hover{
    background-color: var(--color-dark);
}

@media (max-width:750px){
    #credit-details-form-wrapper form{
        overflow-y: scroll;
    }
    #credit-details-form-wrapper form::-webkit-scrollbar{
        display: none;
    }
    form .fields .input-field{
        width: calc(100% / 2 - 15px);
    }
}

@media (max-width:550px){
    form .fields .input-field{
        width: 100%;
    }
}


#user{
    font-size:2rem;
    margin-right:20px ;
    border: var(--main-color) 1px solid;
    border-radius: 50px;
    color:var(--main-color);
}

button{   
    background:var(--main-color);
    border-radius:5px;
    color:#fff;
    font-size:.8rem;
    padding: .5rem 1rem;
    border:1px solid var(--main-color);
}

/* Dashboard */



#not-filled-msg{
    margin-top:3.5rem;
    background-color: #CCE5FF;
    border: 1px solid #B6D8FD;
    width: 100%;
    align-items: center;
    padding: 15px 20px;
    border-radius: 5px;
}

#credit-details-table{
    border-collapse: collapse;
    margin: 25px 0;
    font-size:0.9em;
    width: 100%;
    background-color: white;
}

#credit-details-table thead tr{
    background-color: var(--main-color);
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

#credit-details-table th, #credit-details-table td{
    padding: 12px 15px;
}

#credit-details-table tbody tr{
    border-bottom: 1px solid #dddddd;
}

#credit-details-table tbody tr:nth-of-type(even){
    background-color: #f3f3f3;
}

#credit-details-table tbody tr:last-of-type{
    border-bottom: 2px solid var(--main-color);
}

.container{
    height: 350px;
    width: 100%;
    margin: 22px 0px;
    background-color: #ffffff;
    border-radius: 8px;
    display: grid;
    place-items: center;
}

.circular-progress{
    position: relative;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    background: conic-gradient(#4d5bf9 0deg,  #cadcff 0deg);
}

.circular-progress:before{
    content: "";
    position: absolute;
    height: 84%;
    width: 84%;
    background-color: #ffffff;
    border-radius: 50%;
}

.value-container{
    position: relative;
    font-family: "Poppins", sans-serif;
    font-size: 50px;
    color: #231c3d;
}

.recent-grid{
    margin-top:3.5rem;
    display:grid;
    grid-gap:2rem;
    grid-template-columns: 50% auto;
}

.table-responsive{
    width:100%;
    overflow-x:auto;
}

/* For all */

a:link{
    text-decoration: none;
}

select{
    outline: none;
}

@media only screen and (max-width: 1200px){
    .sidebar {
        width:70px;
    }
    
    .sidebar .sidebar-brand,
    .sidebar li {
        padding-left:1rem;
        text-align: center;
    }
    
    .sidebar li a {
        padding-left: 0rem;
    }
    
    .sidebar .sidebar-brand h1 span:last-child,
    .sidebar li a span:last-child{
        display:none;
    }   
    
    .main-content {
        margin-left: 70px;
    }
    
    .main-content header{
        width: calc(100% - 70px);
        left:70px;
    }     

    .sidebar:hover {
        width:345px;
        z-index:200;
    }
    
    .sidebar:hover .sidebar-brand,
    .sidebar:hover li {
        padding-left:2rem;
        text-align: left;
    }
    
    .sidebar:hover li a {
        padding-left: 1rem;
    }
    
    .sidebar:hover .sidebar-brand h1 span:last-child,
    .sidebar:hover li a span:last-child{
        display:inline;
    }   
}

@media only screen and (max-width:999px){
    .recent-grid{
        grid-template-columns:100%;
    }
}

@media only screen and (max-width:768px){    

    .sidebar{
        left: -100% !important;
    }    

    .main-content{
        width:100%;
        margin-left: 0rem;
    }

    header{
        width:100% !important;
        left:0 !important;
    }

    #nav-toggle:checked + .sidebar {
        left:0 !important;
        z-index: 100;
        width: 345px;
    }

    
    
    #nav-toggle:checked + .sidebar .sidebar-brand,
    #nav-toggle:checked + .sidebar li {
        padding-left:1rem;
        text-align: left;
    }
    
    #nav-toggle:checked + .sidebar li a {
        padding-left: 1rem;
    }
    
    #nav-toggle:checked + .sidebar .sidebar-brand h1 span:last-child,
    #nav-toggle:checked + .sidebar li a span:last-child{
        display:inline;
    }

    #nav-toggle:checked ~ .main-content{
        margin-left: 0rem !important;
    }   
}